﻿div#GridHeader {
    overflow: hidden;
}

    div#GridHeader table tr.tableHeader {
        background-color: #DCDCDC;
        color: #000000;
        border-collapse: collapse;
        border-color: #999999;
        border-style: none;
        border-width: 1px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

div#GridBody {
    overflow-x: hidden;
    overflow-y: scroll;
}

    div#GridBody table {
        border-collapse: collapse;
        border-color: #999999;
        border-style: none;
        border-width: 1px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

        div#GridBody table tr.odd {
            background-color: #f5f5f5;
            color: #000000;
        }

        div#GridBody table tr.even {
            background-color: #FFF8DC;
        }

        div#GridBody table tr * {
            background-color: inherit;
        }

div#GridSum {
    overflow-x: scroll;
    overflow-y: hidden;
}

div#GridHeader_fix {
    overflow: hidden;
}

    div#GridHeader_fix table tr.tableHeader {
        background-color: #DCDCDC;
        color: #000000;
        border-collapse: collapse;
        border-color: #999999;
        border-style: none;
        border-width: 1px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

div#GridBody_fix {
    overflow: hidden;
}

    div#GridBody_fix table {
        border-collapse: collapse;
        border-color: #999999;
        border-style: none;
        border-width: 1px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

        div#GridBody_fix table tr.odd {
            background-color: #f5f5f5;
            color: #000000;
        }

        div#GridBody_fix table tr.even {
            background-color: #FFF8DC;
        }

        div#GridBody_fix table tr * {
            background-color: inherit;
        }

div#GridSum_fix {
    overflow-x: scroll;
    overflow-y: hidden;
}

div#Search table tr.searchHeader {
    background-color: #DCDCDC;
    color: #000000;
    border-collapse: collapse;
    border-color: #999999;
    border-style: none;
    border-width: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

    div#Search table tr.searchHeader th {
        text-align: center;
    }